html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;    
    justify-content: center;
    background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
    color: #fff;
}

h1 {
    font-size: 2rem;
    /* text-transform: uppercase; */
}

header > a {
    color: #fff;
}

header > a:hover {
    text-decoration: none;
    color: #fff;
}

#resume:hover {
    color: #fff;
    border-bottom: 0.05rem solid;
    margin-top: -2px;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.me-social {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 !important; */
}

.social-media {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
}

.social-media > a {
    color: pink;    
    margin-bottom: 1rem;
    margin: 0 0.5rem 0 0.5rem;
}

/* @media () {
    
} */

img {
    width: 225px;
    height: 225px;
    
    object-fit: cover;
    border-radius: 50%;

    filter: grayscale(0%);
    margin-bottom: 1.5rem;
    transition: .5s ease;    
}
img:hover {
    /* border-radius: 0; */
    filter: grayscale(100%);
    transition: .5s ease;
}

.about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-work {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-education {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about > div > div {
    width: 80%;
    line-height: 1.5rem;
    text-align: justify;
}

.about-me{
    background-color: pink;
}

.about-work{
    background-color: aquamarine;
}

.about-education{
    background-color: azure;
}

footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
}

footer > p {
    text-align: center;
}

@media (max-height: 415px) {
    html { 
        font-size: 80%;
        line-height: 1rem;
    }
    img {
        width: 200px;
        height: 200px;
    }
    .social-media > a:nth-child(2){
        margin-right: 2rem;
        margin-left: 2rem;
    }
    footer {
        font-size: 120%;
    }
}

.divArchitect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

h4 {
    text-align: center;
}

i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}

.down {
    padding-bottom: 20px;
    margin-left: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}